<p>
  <b>Comment:</b>
  <%= comment.comment %>
</p>
<p>
  <b>By:</b>
  <%= User.find(comment.user_id).name %>
</p>

<%= link_to "Delete", post_comment_path(@post, comment), :confirm => "Are you sure?", :method => :delete %>
