<h1>Search Results</h1>

<% if @posts %>
<%= render 'posts/post_table' %>
<% end %>

<% if @users %>
    <%= render 'users/user_table' %>
<% end %>

<% if @comments %>
    <%= render @comments %>
<% end %>


