<h1>Statistics</h1>
<p>Total number of users: (TBD)</p>
<p>Total number of posts: <%= Post.count %></p>
<p>Total number of comments: <%= Comment.count %></p>
<p>Average number of posts per user: (TBD)</p>
<p>Average number of comments per post: <%= @average_number_comments_per_post %></p>

