
      <tr>
        <td><%= user.name %></td>
        <td>**************</td>
        <td><%= user.is_admin %></td>
        <td><%= link_to 'Show (includes Stats)', user %></td>
        <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>

