<h1>Backchannel App</h1>
<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %>
<br />
<p>Search: <%= render "search/form" %></p>
<br />

<p>Create a New Account</p>
<%= render "users/form" %>
